<!DOCTYPE html>

<div class="col col-10 mainHeader">
  <h1> <span> Notitia </span></h1>
  <h2> Teaching & learning in your local area </h2>

</div>

<form class="navbar-form" role="search">


<div class="col col-10 search shadow">THIS IS A SEARCH BOX</div>
<div class="col col-10 feed shadow" ng-repeat="post in postsIndex.all ">
      <h1>{{ post.postType }}</h1>
      <h2>title</h2> <p>{{ post.tite }}</p>
    <h2>info</h2>  <p>{{ post.info }}</p>
    <h2>location</h2>  <p>{{ post.location }}</p>
    <h2>date</h2>  <p>{{ post.date }}</p>
    <h2>time</h2>  <p>{{ post.time }}</p>
    <h2>image</h2>  <p>{{ post.image }}</p>
    <h2>createdBy</h2>  <p>{{ post.createdBy.firstName }}</p>
  </div>
