<!DOCTYPE html>

      <form ng-submit="login.submit()" class ="formContainer">
        <div class="field">
          <label class="label" for="email">Email</label>
          <p class="control">
            <input class="input" type="text" name="email" id="email" ng-model="login.credentials.email">
          </p>
        </div>
        <div class="field">
          <label class="label" for="password">Password</label>
          <p class="control">
            <input class="input" type="password" name="password" id="password" ng-model="login.credentials.password">
          </p>
        </div>

<button ng-click="login.authenticate('facebook')">Login with Facebook</button>

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="LOGIN">
          </p>
        </div>
      </form>
