<!DOCTYPE html>



<div class="col col-3 formBox shadow">
  <form ng-submit="login.submit()">

    <div class="formTitle">
      <h3> Login </h3>
    </div>

    <div class="field">

      <p class="control">
        <input class="input col-12" placeholder="Username" type="text" name="email" id="email" ng-model="login.credentials.email">
      </p>
    </div>

    <div class="field">
      <p class="control">
        <input class="input col-12" type="password" name="password" placeholder="Password" id="password" ng-model="login.credentials.password">
      </p>
    </div>

    <div class="field">
      <p class="control">
        <input type="submit" class="button login primary col-12" value="Login">
      </p>
    </div>
  </form>

  <button class="button login facebook col-12" ng-click="login.authenticate('facebook')"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</button>

</div>
