<!DOCTYPE html>

<div class="container col-10 profileContainer">
  <div class="row">
    <div class="col col-md-4">
      <div class="profilePhotoContainer">


        <img ng-src="{{ profile.user.imageSRC }}" alt="profile.user.image" class="profileImage">

        <button class="button primary" ui-sref="profile.user.id"> Edit </button>
        <button class="button sePalacecondary"> logout </button>

        <div class="bio">
          <span> About</span>
          <p>{{ profile.user.bio}}</p>
        </div>



      </div>
    </div>


    <div class="col col-md-7 profileInfo">

      <h2>{{ profile.user.firstName }} {{ profile.user.lastName }} – <span> {{ profile.user.jobTitle }}</span></h2>

      <h2 ng-if="profile.user.facebookId"><strong>{{ profile.user.username }}</strong> – <span> </span></h2>
      {{ profile.user}}

      <div class="rating">
        <div style="margin:15px 0;">Total User rating: <b>{{profile.user.rating}}</b></div>
        <span uib-rating ng-model="profile.user.averageRating" read-only="true" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']"></span>
      </div>

      <div class="sendMessage">
        <a href="mailto:{{ profile.user.email }}" ng-if="profile.user.email"><i class="fa fa-envelope" aria-hidden="true"></i>
          Send a Message </a>
        </div>

        <h3>User Reviews</h3>
        <!-- {{profile.user}} -->
        <ul class="reviewSection">


          <li ng-repeat="comment in profile.user.comments track by $index" class="col-md-5 commentsCard card shadow">
            <strong>{{ comment.createdBy.username }}</strong>
            <div class="reviewText">
              <p> {{ comment.text }} </p>
            </div>

            <div class="rating">

              <span uib-rating ng-model="comment.rating" read-only="true  " state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']"></span>
            </div>

            <button class="delete" ng-click="profile.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUserId === comment.createdBy.id">Delete Review</button>
          </li>
        </ul>

        <div class="reviewInput">
          <h3>Write a Review</h3>

          <div class="rating">
            <div style="margin:15px 0;">User rating: <b>{{profile.user.rating}}</b></div>
            <span uib-rating ng-model="profile.newComment.rating" read-only="isReadonly" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" max="10" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']"></span>
          </div>

          <form ng-if="main.isAuthenticated()" ng-submit="profile.addComment()">
            <textarea class="reviewBox" placeholder="Write a user review" ng-model="profile.newComment.text"></textarea>
            <button class="button primary">Post Review</button>
          </form>
        </div>







      </div>
    </div>
  </div>
