<!DOCTYPE html>

<html ng-app="groupProject">
<head>
  <meta charset="utf-8">
    <base href="/">
  <title>Notitia - Teaching and learning</title>
  <link href="https://fonts.googleapis.com/css?family=Yantramanav:100,300,400,500,700,900" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqxWYoNwAARp2mliTZTeiMaL3dXJKSnsE"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-controller="MainCtrl as main">
  <nav>
    <div class="logo" ui-sref="postsIndex"></div>
    <ul>
      <li class="menu"> &#9776; </li>
      <div class="dropdown">
        <li> <a class="navLink first after" ui-sref="login" ng-if="!main.isAuthenticated()"> Login </a></li>
        <li> <a class="navLink first after" ui-sref="#" ng-click="main.logout()" ng-if="main.isAuthenticated()"> Logout </a></li>
        <li> <a class="navLink first after" ui-sref="register" ng-if="!main.isAuthenticated()"> Register </a></li>
        <li> <a class="navLink first after" ui-sref="postsNew" ng-if="main.isAuthenticated()"> Post </a></li>
        <li> <a class="navLink first after" ui-sref="profile({ id: main.currentUserId })" ng-if="main.isAuthenticated()"> Profile </a></li>
      </div>
    </ul>
  </nav>


    <main ui-view></main>

</body>
</html>
