// Import all of your scss files here
@import 'reset-css/reset';
@import 'bootstrap/bootstrap-grid';

// $fa-font-path: "../node_modules/font-awesome/fonts";
// @import '~font-awesome/scss/font-awesome.scss';

// SASS Variabels
$highLight: #FDC848;
$borderColor: #f5f5f5;
$textColor: #484848;

$grid-gutter-width: 16px;

//OVERALL STYLES

body{
  font-family: 'Yantramanav', sans-serif;
  color: $textColor;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

h4 {
  font-size: 16px;
  font-weight: 800;
}

p{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}

a{
  text-decoration: none;
}

.shadow{
  box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
}

.button{
  padding: 8px 42px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login{
  padding: 16px 42px;
}

.primary{
  background-color: $highLight;
  color: white;
  &.primary:hover{
    background-color: darken($highLight, 10%);
  }
}

.secondary{
  background-color: $borderColor;
  color: $textColor;
  &.secondary:hover{
    background-color: darken($borderColor, 10%);
  }
}

.facebook{
  background-color:#3b5998;
  color: white;
  &.facebook:hover{
    background-color: darken(#3b5998, 10%);
  }
}

span{
  color: $highLight;
}

//NAV STYLES

nav{
  height: 64px;
  padding: 24px;
}

nav ul li {
  display: inline;
  padding: 8px 8px;
  font-size: 16px;
  font-weight: 500;
  float: right;
  font-weight: 400;
}

.logo {
  height: 40px;
  width: 40px;
  background-image: url('https://image.ibb.co/dxrrf5/logo.png');
  background-size: contain;
  float: left;
  cursor: pointer;
}

.menu{
  display: none;
}


// HOVER NAV STYLES

nav a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color:$textColor;
}
nav a:hover{
	color:$highLight;
}
nav a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
nav a.before:before{
  top:-0.25em;
}
nav a.after:after{
  bottom:-0.25em;
}
nav a.before:before,a.after:after{
  height:1px;
  height:0.1rem;
  width:0;
  background:$highLight;
}
nav a.first:after{
  left:0;
}
nav a.before:hover:before,a.after:hover:after{
  width:100%;
}

//header

.mainHeader{
  margin: 42px auto;
}

//SEARCH STUFF

.search {
  background-color: white;
  padding: 16px;
  height: 200px;
  border: 1px solid $borderColor;
  border-radius: 4px;
  margin: 62px auto;
}

// index stuff

.card {
  margin: 16px 16px;
  background-color: white;
  border: 1px solid $borderColor;
}

.cardContent{
  padding: 16px;
}

.postType{
  background-color: $highLight;
  border-radius: 4px 4px 0px 0px;
  padding: 8px 16px;
  color: white;
}

.cardLocationAndTime{
  background-color: dodgerblue;
  margin-top: 16px;
}

.cardInfo{
  background-color: red;
  display: inline-block;
}
.cardLocation{
  background-color: pink;
  margin: 16px 0px;
}

//FORM SUFF

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.formBox{
  margin: 48px auto;
  background-color: white;
  padding: 24px 16px;
}

.formTitle{
  margin: 0px 0px 16px 0px;
}

.label{
  margin: 8px 0px;
  background-color: red;
}

.field{
  margin: 8px 0px;
}

.fieldTogether{
  display: inline-block;
}

.control{
  margin: 8px 0px;
}

.input{
  height: 48px;
  margin: 4px 0px;
  border: 1px solid $borderColor;
  padding: 8px;
  border-radius: 4px;
}

.input:focus {
    outline:0;
    border: 1px solid $highLight;
}

//PROFILE PAGE


.profileImage{
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0px auto;
  background-position: bottom;
}

.bio{
  margin: 16px auto;
}
.profilePhotoContainer{

}

.profileContainer{
  margin: 48px auto;
}

.profileButtonContainer{
margin: 0px auto;
}

.profileInfo{

}


































@media only screen and (max-width: 760px) {

  nav li{
    position: relative;
    float: none;
    display: block;
    padding-top: 20px;
    background-color: white;
    position: relative;
  }


  .menu{
    padding: 0px;
    float: right;
    display: block;
    font-size: 20px;
    position: relative;
  }


  .dropdown{
    padding: 30px 0px 30px 30px;
    background-color: white;
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    top: 44px;
    z-index: 2;
  }
}
.map {
  width: 500px;
  height: 500px;
  background-color: ghostwhite;

  float: right;
}
.new-form {
  margin-left: 200px;
}
