<h1>Edit Post</h1>
<section class="section">
  <div class="row">
    <div class="new-form col-lg-4">
      <form ng-submit="postsEdit.update()" name="postsEdit.postForm" novalidate>
        <div class="field">
          <p class="control">
            <label  for="postType">Post Type</label>
          </p>
          <input ng-model="postsEdit.post.postType" type="text" class="input" id="postType" name="postType"  required>
          <div ng-messages="postsEdit.postForm.postType.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.image.$touched">
            <div ng-message="required" class="notification">Post type is required.</div>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <label  for="title">Title</label>
          </p>
          <input type="text" class="input" id="title" title="title" ng-model="postsEdit.post.title" required>
          <div ng-messages="postsEdit.postForm.title.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.title.$touched">
            <div ng-message="required" class="notification">Title is required.</div>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <label  for="location">Location</label>
          </p>
          <input type="text" class="input" id="info" name="info" ng-model="postsEdit.post.info" required>
          <div ng-messages="postsEdit.postForm.info.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.info.$touched">
            <div ng-message="required" class="notification">Info is required</div>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <label  for="date">Date</label>
          </p>
          <input type="date" class="input" id="date" name="date" ng-model="postsEdit.post.date" required>
          <div ng-messages="postsEdit.postForm.date.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.date.$touched">
            <div ng-message="required" class="notification">Date is required</div>
          </div>
        </div>
        <div class="field">
          <p class="control">
            <label  for="time">Time</label>
          </p>
          <input pattern="(1[012]|[1-9]):[0-5][0-9](\\s)?(?i)(am|pm)" type="text" class="input" id="time" name="time" ng-model="postsEdit.post.time" required>
          <div ng-messages="postsEdit.postForm.time.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.time.$touched">
            <div ng-message="required" class="notification">Time is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="image">Image</label>
          <input base64 type="file" name="image" id="image" ng-model="postsEdit.post.base64" class="form-control">
          <img ng-src="{{ postsEdit.post.base64 }}">
        </div>

        <div id="map-new" class="marker">
          <google-map center="postsEdit.post.coordinates" coordinates="postsEdit.post.coordinates"></google-map>
        </div>

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Add">
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
