<h1>Edit Post</h1>
{{postsEdit.post}}
<section class="section">
  <div class="row">
    <div class="formBox col-lg-10">

      <h2> Edit Post </h2>
      <form ng-submit="postsEdit.update()" name="postsEdit.postForm" novalidate>

        <div class="formLeft col-lg-7">

          <div class="field">
            <p class="control">
              <label for="postType">Post Type</label>
            </p>
            <input class="hidden" type="radio" id="teaching" name="postType" value="Teaching" ng-model="postsEdit.post.postType" required>
            <label for="teaching" class="radioSelect">
              <i class="fa fa-comments spaceRight" aria-hidden="true"></i>
              Teaching
            </label>
            <input  class="hidden" type="radio" id="learning" name="postType" value="Learning" ng-model="postsEdit.post.postType" required>
            <label for="learning" class="radioSelect">
              <i class="fa fa-graduation-cap spaceRight" aria-hidden="true"></i>
              Learning
            </label>
            <div ng-messages="postsEdit.postForm.postType.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.postType.$touched">
              <div ng-message="required" class="notificationThin" required>Post type is required.</div>
            </div>
          </div>


          <div class="field">
            <p class="control">
              <label for="location">Title</label>
            </p>
            <input type="text" placeholder="Title of your post" class="input col-10" id="title" name="title" ng-model="postsEdit.post.title" required >

            <div ng-messages="postsEdit.postForm.title.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.title.$touched">
              <div ng-message="required" class="notificationThin ">Title is required.</div>
            </div>
          </div>


          <div class="field fieldTogether">
            <p class="control">
              <label for="date">Date</label>
            </p>
            <input pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" type="date" class="input" id="date" name="date" ng-model="postsEdit.post.date" required>
            <div ng-messages="postsEdit.postForm.date.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.date.$touched">
              <div ng-message="required" class="notificationThin">Date is required.</div>
            </div>
          </div>


          <div class="field fieldTogether">
            <p class="control">
              <label  for="time">Time</label>
            </p>
            <input placeholder="E.g. 10:30am" pattern="(1[012]|[1-9]):[0-5][0-9](\\s)?(?i)(am|pm)" id="time" type="text" class="input" name="time" ng-model="postsEdit.post.time" required>

            <div ng-messages="postsEdit.postForm.time.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.time.$touched">
              <div ng-message="required" class="notificationThin">Time is required</div>
            </div>
          </div>

          <div class="field">
            <p class="control">
              <label  for="info">About</label>
            </p>
            <textarea type="text" class="input" name="info" ng-model="postsEdit.post.info" required></textarea>

            <div ng-messages="postsEdit.postForm.info.$error" ng-show="postsEdit.postForm.$submitted || postsEdit.postForm.info.$touched">
              <div ng-message="required" class="notificationThin">About is required</div>
            </div>
          </div>

          <div class="field ">
            <p class="control">
              <label  for="title">Select location</label>
                </p>
              <input autocomplete type="text" class="input"  name="postcode" coordinates="postsEdit.post.coordinates"
            ng-model="postsEdit.post.co">
          </div>

          <div class="field">
            <p class="control">
              <input type="submit" class="button primary" value="Submit Post" ng-disabled="postsEdit.postForm.$invalid">
            </p>
          </div>

        </div>

        <div class="formRight col-lg-5">
          <div id="map-new" class="marker">
            <google-map center="postsEdit.post.coordinates" coordinates="postsEdit.post.coordinates"></google-map>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
